@page "/listDetallesDiarios"
@using BlazorServer.Models  
@using BlazorServer.Services
@inject DetalleDiarioService detalleDiarioService
@inject UnidadService unidadService
@inject RutaService rutaService
@inject EmpleadoService empleadoService
@inject ColoniaService coloniaService

<h3>Historial de Rutas y Diésel (Folios)</h3>

<TablaCrudGenerica TItem="DetalleDiario"
                   Items="listaDetalles"
                   OnCreate="AbrirModalCrear"
                   OnEdit="AbrirModalEditar"
                   OnView="AbrirModalVer"
                   OnDelete="AbrirModalEliminar">
    
    <Cabecera>
        <th>Folio</th>
        <th>Fecha</th>
        <th>Unidad</th>
        <th>Km Recorridos</th>
        <th>Diesel Recargado</th>
        <th>Diesel Final</th>
        <th>Autonomía</th>
        <th>% Cobertura Colonias</th>
    </Cabecera>
    
    <Filas Context="detalle">
        <td>@detalle.ID</td>
        <td>@detalle.Fecha_orden.ToString("dd/MM/yyyy")</td>
        <td>@detalle.Unidad?.Nombre</td>
        <td>@detalle.km_Recorridos</td>
        <td>@detalle.Diesel_Recargado L</td>
        <td>@detalle.Diesel_Final L</td>
        <td>@detalle.Autonomia</td>
        <td>
            @* Cálculo simple: (Colonias recorridas / Total colonias) * 100 *@
            @if (detalle.Ruta != null && detalle.Ruta.CoberturaColonias.Any())
            {
                
                    var Detalle = detalle.Ruta.CoberturaColonias;
                    var avance = Detalle.Average(c => c.PorcentajeAtendidos);
                
                <div class="progress" style="width: 100px; height: 20px;">
                    <div class="progress-bar" role="progressbar"
                         style="width: @( avance)%">
                        @(avance)%
                    </div>
                </div>
            }
            else
            {
                <span>0%</span>
            }
        </td>
    </Filas>
</TablaCrudGenerica>


    <Modal @ref="modal_Create" title="Registrar Nuevo Folio" Size="ModalSize.Large" ModalType="ModalType.Success">
        <BodyTemplate>
            <div class="row">
                <div class="col-md-6 border-end">

                    <h6 class="text-primary border-bottom pb-2">Datos de Operación</h6>
                    <EditForm Model="detalleSeleccionado">
                        <div class="mb-3">
                            <label class="form-label mt-2">Fecha de Orden</label>
                            <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_orden" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-2">Fecha de Inicio</label>
                        <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_Inicio" @bind-Value:after="GetDisponibles" min="@detalleSeleccionado.Fecha_orden.ToString("yyyy-MM-dd ")" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-2">Fecha de Término Estimado</label>
                        <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_TerminoEstimado" @bind-Value:after="GetDisponibles" min="@detalleSeleccionado.Fecha_Inicio.ToString("yyyy-MM-dd ")" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label mt-2">Fecha de Término Real</label>
                            <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_TerminoReal" min="@detalleSeleccionado.Fecha_Inicio.ToString("yyyy-MM-dd ")" />
                        </div>
                        <div>

                            <label class="form-label">Escoja Unidad</label>
                            <InputSelect class="form-select mb-2" @bind-Value="detalleSeleccionado.ID_Unidad">
                                <option value="0">-- Seleccione una Unidad --</option>
                                @foreach (var unidad in listaUnidadesDisponibles)
                                {
                                    <option value="@unidad.Id">@unidad.Nombre (Tipo: @unidad.TipoUnidad?.Nombre)</option>
                                }
                            </InputSelect>
                        </div>
                        <div>
                            <label class="form-label">Escoja Ruta</label>
                        <InputSelect class="form-select mb-2" @bind-Value="detalleSeleccionado.ID_Ruta" @bind-Value:after="() => { detalleSeleccionado.km_Recorridos = Rutas.FirstOrDefault(p => p.ID == detalleSeleccionado.ID_Ruta)!.KM_Estimados; }">
                                <option value="0">-- Seleccione una Ruta --</option>
                                
                                @foreach (var ruta in Rutas)
                                {
                                    <option value="@ruta.ID">Nombre:@ruta.Nombre; colonias Ayuda:@(string.Join(", ",ruta.CoberturaColonias.Select(c => c.Colonia!.Nombre).ToList()))</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="row">
                            <div class="col">
                                Empleados Disponibles
                                <SortableList TItem="Empleado"
                                              Group="SharedList1"
                                              Name="empList1"
                                              Data="EmpleadosDisponibles"
                                              Context="item"
                                              OnUpdate="OnEmpleadosDUpdate"
                                              OnRemove="OnEmpleadosDRemove">
                                    <ItemTemplate>
                                        @item.Nombre , es chofer? @(item.isChofer ? "Si" : "No")
                                    </ItemTemplate>
                                </SortableList>
                            </div>
                            <div class="col">
                                Empleados a Usar
                                <SortableList TItem="Empleado"
                                              Group="SharedList1"
                                              Name="empList2"
                                              Data="EmpleadosUsar"
                                              Context="item"
                                              OnUpdate="OnEmpleadosUUpdate"
                                              OnRemove="OnEmpleadosURemove">
                                    <ItemTemplate>
                                        @item.Nombre, es chofer? @(item.isChofer ? "Si" : "No")
                                    </ItemTemplate>
                                </SortableList>
                            </div>
                        </div>
                   
                    
                        <div class="mb-3">
                            <label class="form-text">Numero de turno</label>
                            <InputSelect class="form-select mb-2" @bind-Value="detalleSeleccionado.NumeroTurno">
                                <option value="0">-- Seleccione un turno --</option>
                                <option value="1">Turno 1</option>
                                <option value="2">Turno 2</option>
                                <option value="3">Turno 3</option>
                            </InputSelect>
                        </div>
                
                        <div class="mb-3">
                            <label class="form-text">Km Recorridos Estimados</label>
                            
                            <label class="form-control mb-2" >@(detalleSeleccionado.km_Recorridos)</label>
                        </div>

                    </EditForm>
                    
                   
             
               
                </div>
            </div>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="() => modal_Create.HideAsync()">Cancelar</Button>
            <Button Color="ButtonColor.Primary" @onclick="GuardarCrear">Guardar Folio</Button>
        </FooterTemplate>
    </Modal>

    <Modal @ref="modal_Update" title="@($"Editar Folio #{detalleSeleccionado.ID}")" Size="ModalSize.Large" ModalType="ModalType.Warning">
        <BodyTemplate>
        <div class="row">
            <div class="col-md-6 border-end">

                <h6 class="text-primary border-bottom pb-2">Datos de Operación</h6>
                <EditForm Model="detalleSeleccionado">
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Orden</label>
                        <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_orden" disabled="@(DateTime.Now > detalleSeleccionado.Fecha_Inicio)" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Inicio</label>
                        <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_Inicio" @bind-Value:after="GetDisponibles" min="@detalleSeleccionado.Fecha_orden.ToString("yyyy-MM-dd ")" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Estimado</label>
                        <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_TerminoEstimado" @bind-Value:after="GetDisponibles" min="@detalleSeleccionado.Fecha_Inicio.ToString("yyyy-MM-dd ")" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <InputDate class="form-control mb-2" @bind-Value="detalleSeleccionado.Fecha_TerminoReal" min="@detalleSeleccionado.Fecha_Inicio.ToString("yyyy-MM-dd ")" />
                    </div>
                    <div>

                        <label class="form-label">Escoja Unidad</label>
                        <InputSelect class="form-select mb-2" @bind-Value="detalleSeleccionado.ID_Unidad">
                            <option value="0">-- Seleccione una Unidad --</option>
                            @foreach (var unidad in listaUnidadesDisponibles)
                            {
                                <option value="@unidad.Id">@unidad.Nombre (Tipo: @unidad.TipoUnidad?.Nombre)</option>
                            }
                            <option value="@detalleSeleccionado.ID_Unidad">@detalleSeleccionado.Unidad!.Nombre (Tipo: @detalleSeleccionado.Unidad.TipoUnidad?.Nombre)</option>

                        </InputSelect>
                    </div>
                    <div>
                        <label class="form-label">Escoja Ruta</label>
                        <InputSelect class="form-select mb-2" @bind-Value="detalleSeleccionado.ID_Ruta" @bind-Value:after="() => { detalleSeleccionado.km_Recorridos = Rutas.FirstOrDefault(p => p.ID == detalleSeleccionado.ID_Ruta)!.KM_Estimados; }">
                            <option value="0">-- Seleccione una Ruta --</option>
                                
                            @foreach (var ruta in Rutas)
                            {
                                <option value="@ruta.ID">Nombre:@ruta.Nombre; colonias Ayuda:@(string.Join(", ", ruta.CoberturaColonias.Select(c => c.Colonia!.Nombre).ToList()))</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="row">
                        <div class="col">
                            Empleados Disponibles
                            <SortableList TItem="Empleado"
                                          Group="SharedList1"
                                          Name="empList1"
                                          Data="EmpleadosDisponibles"
                                          Context="item"
                                          OnUpdate="OnEmpleadosDUpdate"
                                          OnRemove="OnEmpleadosDRemove">
                                <ItemTemplate>
                                    @item.Nombre , es chofer? @(item.isChofer ? "Si" : "No")
                                </ItemTemplate>
                            </SortableList>
                        </div>
                        <div class="col">
                            Empleados a Usar
                            <SortableList TItem="Empleado"
                                          Group="SharedList1"
                                          Name="empList2"
                                          Data="EmpleadosUsar"
                                          Context="item"
                                          OnUpdate="OnEmpleadosUUpdate"
                                          OnRemove="OnEmpleadosURemove">
                                <ItemTemplate>
                                    @item.Nombre, es chofer? @(item.isChofer ? "Si" : "No")
                                </ItemTemplate>
                            </SortableList>
                        </div>
                    </div>

                   
                    <div class="mb-3">
                        <label class="form-text">Numero de turno</label>
                        <InputSelect class="form-select mb-2" @bind-Value="detalleSeleccionado.NumeroTurno">
                            <option value="0">-- Seleccione un turno --</option>
                            <option value="1">Turno 1</option>
                            <option value="2">Turno 2</option>
                            <option value="3">Turno 3</option>
                        </InputSelect>
                    </div>
                
                    <div class="mb-3">
                        <label class="form-text">Km Recorridos Estimados</label>
                            
                        <label class="form-control mb-2">@(detalleSeleccionado.km_Recorridos)</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <NumberInput class="form-control mb-2" @bind-Value="detalleSeleccionado.km_Recorridos" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <NumberInput class="form-control mb-2" @bind-Value="detalleSeleccionado.Diesel_inicio" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <NumberInput class="form-control mb-2" @bind-Value="detalleSeleccionado.Diesel_Recargado" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <NumberInput class="form-control mb-2" @bind-Value="detalleSeleccionado.Diesel_Final" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <NumberInput class="form-control mb-2" @bind-Value="detalleSeleccionado.CapacidadDiesel" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-2">Fecha de Término Real</label>
                        <NumberInput class="form-control mb-2" @bind-Value="detalleSeleccionado.Autonomia" />
                    </div>
                </EditForm>

                    
                   
             
            </div>
        </div>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="() => modal_Update.HideAsync()">Cancelar</Button>
            <Button Color="ButtonColor.Primary" @onclick="GuardarEditar">Actualizar Folio</Button>
        </FooterTemplate>
    </Modal>

    <Modal @ref="modal_Read" title="@($"Detalles del Folio #{detalleSeleccionado.ID}")" Size="ModalSize.Large" ModalType="ModalType.Info">
        <BodyTemplate>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Fecha Orden:</strong> @detalleSeleccionado.Fecha_orden.ToString("dd/MM/yyyy HH:mm")</li>
                <li class="list-group-item"><strong>Unidad asignada (ID):</strong> @detalleSeleccionado.ID_Unidad</li>
                <li class="list-group-item"><strong>Ruta asignada (ID):</strong> @detalleSeleccionado.ID_Ruta</li>
                <li class="list-group-item"><strong>Kilómetros Recorridos:</strong> @detalleSeleccionado.km_Recorridos km</li>
                <li class="list-group-item text-success"><strong>Diésel Recargado:</strong> @detalleSeleccionado.Diesel_Recargado Lts</li>
                <li class="list-group-item"><strong>Autonomía:</strong> @detalleSeleccionado.Autonomia</li>
            </ul>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Primary" @onclick="() => modal_Read.HideAsync()">Cerrar</Button>
        </FooterTemplate>
    </Modal>

    <Modal @ref="modal_Delete" title="¡Advertencia!" ModalType="ModalType.Danger">
        <BodyTemplate>
            <p class="text-danger">¿Estás seguro que deseas eliminar el <strong>Folio #@detalleSeleccionado.ID</strong>?</p>
            <p>Se borrará todo el historial de este viaje.</p>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="() => modal_Delete.HideAsync()">Cancelar</Button>
            <Button Color="ButtonColor.Danger" @onclick="ConfirmarEliminar">Sí, Eliminar Registro</Button>
        </FooterTemplate>
    </Modal>



@code {
    private Modal modal_Create = new Modal();
    private Modal modal_Read = new Modal();
    private Modal modal_Update = new Modal();
    private Modal modal_Delete = new Modal();

    private List<DetalleDiario> listaDetalles = new List<DetalleDiario>();
    private DetalleDiario detalleSeleccionado = new ();
    private List<Unidad> listaUnidadesDisponibles = new List<Unidad>();

    private List<Empleado> EmpleadosDisponibles = new List<Empleado>();
    private List<Empleado> EmpleadosUsar = new List<Empleado>();
    private List<Ruta> Rutas = new ();


    private List<ColoniaHabitanteViewModel> lista_Colonia = new();
    private List<ColoniaHabitanteViewModel> listaColoniaUsar = new();

    public class ColoniaHabitanteViewModel
    {
        public Colonia Colonia { get; set; }
        public int Porcentaje { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        listaDetalles = (await detalleDiarioService.GetFolios()) ?? new();

        EmpleadosDisponibles = await empleadoService.GetEmpleados() ?? new();

        await GetRutas();
        listaDetalles.ForEach(p =>
       {

           p.Ruta = Rutas.FirstOrDefault(r => r.ID == p.ID_Ruta) ?? new();

       });
        StateHasChanged();
    }
    public async Task GetDisponibles()
    {
        if (detalleSeleccionado.Fecha_Inicio < detalleSeleccionado.Fecha_TerminoEstimado)
        {
            listaUnidadesDisponibles =  await unidadService.GetDisponibles(detalleSeleccionado.Fecha_Inicio, detalleSeleccionado.Fecha_TerminoEstimado) ?? new();
            // Si el usuario escogió un tipo, filtrar las unidades por ese tipo


            var Choferes = await empleadoService.GetDisponibles(detalleSeleccionado.Fecha_Inicio, detalleSeleccionado.Fecha_TerminoEstimado , true) ?? new();
            var NoChoferes = await empleadoService.GetDisponibles(detalleSeleccionado.Fecha_Inicio, detalleSeleccionado.Fecha_TerminoEstimado, false) ?? new();

            EmpleadosDisponibles = Choferes.Concat(NoChoferes).DistinctBy(e => e.ID).ToList();
        }
    }
    private void OnEmpleadosDUpdate(SortableListEventArgs args)
    {
        var itemToMove = EmpleadosDisponibles[args.OldIndex];

        EmpleadosDisponibles.RemoveAt(args.OldIndex);

        if (args.NewIndex < EmpleadosDisponibles.Count)
            EmpleadosDisponibles.Insert(args.NewIndex, itemToMove);
        else
            EmpleadosDisponibles.Add(itemToMove);
    }

    private void OnEmpleadosUUpdate(SortableListEventArgs args)
    {
        var itemToMove = EmpleadosUsar[args.OldIndex];

        EmpleadosUsar.RemoveAt(args.OldIndex);

        if (args.NewIndex < EmpleadosUsar.Count)
            EmpleadosUsar.Insert(args.NewIndex, itemToMove);
        else
            EmpleadosUsar.Add(itemToMove);

        detalleSeleccionado.Empleados = EmpleadosUsar;
    }
    private void OnEmpleadosDRemove(SortableListEventArgs args)
    {
        // get the item at the old index in list 1
        var item = EmpleadosDisponibles[args.OldIndex];

        // add it to the new index in list 2
        EmpleadosUsar.Insert(args.NewIndex, item);

        // remove the item from the old index in list 1
        EmpleadosDisponibles.Remove(EmpleadosDisponibles[args.OldIndex]);
    }

    private void OnEmpleadosURemove(SortableListEventArgs args)
    {
        // get the item at the old index in list 2
        var item = EmpleadosUsar[args.OldIndex];

        // add it to the new index in list 1
        EmpleadosDisponibles.Insert(args.NewIndex, item);

        // remove the item from the old index in list 2
        EmpleadosUsar.Remove(EmpleadosUsar[args.OldIndex]);
    }
    public async Task GetRutas()
    {
        Rutas = await rutaService.GetRutas() ?? new();
        var colonias = await coloniaService.GetColonias() ?? new();
        Rutas.ForEach(ruta => {
            ruta.CoberturaColonias = ruta.CoberturaColonias.Select(cobertura => {
                cobertura.Colonia = colonias.FirstOrDefault(col => col.ID == cobertura.ID_Colonia);
                return cobertura;
            }).ToList();

        });
    }
    public async Task AbrirModalCrear()
    {
        await GetRutas();
        // reset selections to avoid null references
        await GetDisponibles();
        StateHasChanged();     
        await Task.Delay(50);  // 2. C# hace una pausa de 50 milisegundos para dejar que se dibuje el HTML
        await modal_Create.ShowAsync(); // 3. ¡Ahora sí, ábrela!
    }

    public async Task AbrirModalEditar(DetalleDiario detalle)
    {
        detalleSeleccionado = detalle;
        await GetDisponibles();
        await GetRutas();
        if (Rutas.Any(i => i.ID == detalle.ID_Ruta)) { 
            detalle.Ruta = Rutas.FirstOrDefault(i => i.ID == detalle.ID_Ruta); 

        }
        if (listaUnidadesDisponibles.Any(i => i.Id == detalle.ID_Unidad)) {
            detalle.Unidad = listaUnidadesDisponibles.FirstOrDefault(i => i.Id == detalle.ID_Unidad);
        }
        EmpleadosUsar = detalle.Empleados.ToList();
        EmpleadosDisponibles.Except(EmpleadosUsar);


        StateHasChanged();
        await Task.Delay(50);
        await modal_Update.ShowAsync();
    }

    public async Task AbrirModalVer(DetalleDiario detalle)
    {
        detalleSeleccionado = detalle;
        StateHasChanged();
        await Task.Delay(50);
        await modal_Read.ShowAsync();
    }

    public async Task AbrirModalEliminar(DetalleDiario detalle)
    {
        detalleSeleccionado = detalle;
        StateHasChanged();
        await Task.Delay(50);
        await modal_Delete.ShowAsync();
    }


    public async Task GuardarCrear()
    {
        detalleSeleccionado.Empleados = EmpleadosUsar;
        await detalleDiarioService.Post(detalleSeleccionado);
        await modal_Create.HideAsync();
        listaDetalles = (await detalleDiarioService.GetFolios()) ?? new();
    }

    public async Task GuardarEditar()
    {
        await detalleDiarioService.UpdateStatus(detalleSeleccionado!.ID, detalleSeleccionado);
        await modal_Update.HideAsync();
        listaDetalles = (await detalleDiarioService.GetFolios()) ?? new();
    }

    public async Task ConfirmarEliminar()
    {
        await detalleDiarioService.Delete(detalleSeleccionado!.ID);
        await modal_Delete.HideAsync();
        listaDetalles = (await detalleDiarioService.GetFolios()) ?? new();
    }

}