@page "/listColonia"
@using BlazorServer.Models
@inject ColoniaService coloniaService

<h3>Gestión de Colonias</h3>

<TablaCrudGenerica TItem="Colonia"
                   Items="lista_Colonia"
                   OnCreate="@AbrirModalCrear"
                   OnEdit="@AbrirModalEditar"
                   OnView="@AbrirModalVer"
                   OnDelete="@AbrirModalEliminar">

    <Cabecera>
        <th>Id</th>
        <th>Nombre</th>
        <th>Numero de Habitantes</th>
    </Cabecera>
    <Filas Context="Colonia">
        <td>@Colonia.ID</td>
        <td>@Colonia.Nombre</td>
        <td>@Colonia.Habitantes</td>
    </Filas>
</TablaCrudGenerica>

<Modal @ref="modal_Create" title="Registrar Nueva Colonia" Size="ModalSize.Large" ModalType="ModalType.Success">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-6 border-end">
                <h6 class="text-primary border-bottom pb-2">Datos de Empleado</h6>
                <EditForm Model="coloniaSeleccionado">
                       
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nombre Completo</label>
                        <InputText class="form-control" @bind-Value="coloniaSeleccionado.Nombre" />
                    </div>
                    <div>
                        <label class="form-label"> Numero de habitantes:</label>
                        <InputNumber class="form-control" @bind-Value="coloniaSeleccionado.Habitantes" />
                    </div>
                </EditForm>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="() => modal_Create.HideAsync()">Cancelar</Button>
        <Button Color="ButtonColor.Primary" @onclick="GuardarCrear">Guardar</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modal_Update" title="@($"Editar Colonia #{coloniaSeleccionado.ID}")" Size="ModalSize.Large" ModalType="ModalType.Warning">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-6 border-end">
                <h6 class="text-primary border-bottom pb-2">Datos de Colonia</h6>
                <EditForm Model="coloniaSeleccionado">
                        
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nombre Completo</label>
                        <InputText class="form-control" @bind-Value="coloniaSeleccionado.Nombre" />
                    </div>
                    <div>
                        <label class="form-label"> Numero Habiantantes: </label>
                        <InputNumber class="form-control" @bind-Value="coloniaSeleccionado.Habitantes" />
                    </div>
                </EditForm>
            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="() => modal_Update.HideAsync()">Cancelar</Button>
        <Button Color="ButtonColor.Primary" @onclick="GuardarEditar">Guardar</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modal_Read" title="@($"Detalles del Colonia #{coloniaSeleccionado.ID}")" Size="ModalSize.Large" ModalType="ModalType.Info">
    <BodyTemplate>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ID:</strong> @coloniaSeleccionado.ID</li>
            <li class="list-group-item"><strong>Nombre:</strong> @coloniaSeleccionado.Nombre</li>
            <li class="list-group-item"><strong>Numero de habitantes:</strong> @coloniaSeleccionado.Habitantes</li>
                
        </ul>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="() => modal_Read.HideAsync()">Cerrar</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modal_Delete" title="¡Advertencia!" ModalType="ModalType.Danger">
    <BodyTemplate>
        <p class="text-danger">¿Estás seguro que deseas eliminar la <strong> #@coloniaSeleccionado.Nombre</strong>?</p>
        <p>Se borrará todo los datos de la colonia.</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="() => modal_Delete.HideAsync()">Cancelar</Button>
        <Button Color="ButtonColor.Danger" @onclick="ConfirmarEliminar">Sí, Eliminar Registro</Button>
    </FooterTemplate>
</Modal>


@code {

    private Modal modal_Create = new Modal();
    private Modal modal_Read = new Modal();
    private Modal modal_Update = new Modal();
    private Modal modal_Delete = new Modal();

    private List<Colonia> lista_Colonia = new();
    private Colonia coloniaSeleccionado = new();

    protected override async Task OnInitializedAsync()
    {
        lista_Colonia = await coloniaService.GetColonias() ?? new();
    }

    public async Task AbrirModalCrear()
    {
        coloniaSeleccionado = new();
        StateHasChanged();
        await Task.Delay(50);  // 2. C# hace una pausa de 50 milisegundos para dejar que se dibuje el HTML
        await modal_Create.ShowAsync(); // 3. ¡Ahora sí, ábrela!
    }

    public async Task AbrirModalEditar(Colonia colonia)
    {
        coloniaSeleccionado = colonia;
        StateHasChanged();
        await Task.Delay(50);
        await modal_Update.ShowAsync();
    }

    public async Task AbrirModalVer(Colonia colonia)
    {
        coloniaSeleccionado = colonia;
        StateHasChanged();
        await Task.Delay(50);
        await modal_Read.ShowAsync();
    }

    public async Task AbrirModalEliminar(Colonia colonia)
    {
        coloniaSeleccionado = colonia;
        StateHasChanged();
        await Task.Delay(50);
        await modal_Delete.ShowAsync();
    }


    public async Task GuardarCrear()
    {
        await coloniaService.Create(coloniaSeleccionado);
        await modal_Create.HideAsync();
        lista_Colonia = await coloniaService.GetColonias() ?? new();
    }

    public async Task GuardarEditar()
    {
        await coloniaService.Update(coloniaSeleccionado!.ID, coloniaSeleccionado);
        await modal_Update.HideAsync();
        lista_Colonia = await coloniaService.GetColonias() ?? new();
    }

    public async Task ConfirmarEliminar()
    {
        await coloniaService.Delete(coloniaSeleccionado!.ID);
        await modal_Delete.HideAsync();
        lista_Colonia = await coloniaService.GetColonias() ?? new();
    }
}